.thumb_movie{
	width: 100%;
	opacity: 1;
	transition: all 1s ease;
}
.logo-channel{
	width: 100%;
}
.popular_1{
	padding: 10px 0 10px 10px;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.item_titulo{
	position: absolute;
    top: 277px;
    color: #fff;
    font-size: 15px;
    margin-left: 4px;
}
.thumb_movie:hover{
	background-color: #000;
	opacity: 0.2;
	filter: blur(6px);
	transition-property: opacity, blur;
  	transition-duration: 2s, 2s;
}
