<div class="headerBar">
	<div class="barInner">
			<search></search>
	</div>
	<nav>
		<ul id="mainMenu" class="mainMenu">
			<li class="dropDown dropDownSeries ">
				<a [routerLink]="['/']" title="" class="menuItem">Popular</a>
			</li>
			<li class="dropDown dropDownSeries ">
				<a [routerLink]="['/series']" title="" class="menuItem">Series</a>
			</li>
			<li class="dropDown dropDownMovies ">
				<a [routerLink]="['/movies']" title="" class="menuItem">Movies</a>
			</li>
		</ul>
	</nav>
</div>