<div class="body_wrapper">
	<main-menu></main-menu>
	<section class="popular">
		<div class="row">
			<div class="col-md-6 popular_1">
				<img class="thumb_movie_50" src="http://cdn.foxplay.com/sites/foxplay-la/files/img/2600x800/2600x800-series-twd_s7b.jpg?ver=60ac5d59-44d5-43d5-be78-526848336815">
				<a href="#"><h4>Ver Serie</h4></a>
			</div>
			<div class="col-md-6 popular_1">
				<img class="thumb_movie_50" src="http://cdn.foxplay.com/sites/foxplay-la/files/img/2600x800/2600x800-series-twd_s7b.jpg?ver=60ac5d59-44d5-43d5-be78-526848336815">
				<a href="#"><h4>Ver Serie</h4></a>
			</div>
		</div>
	</section>
</div>


