body{
	color: #333;
    background-color: #000;
    overflow-x: hidden !important;
    background-position: center 100px !important;
    background-repeat: no-repeat !important;
}
.body_wrapper{
	background-color: #000;
}

