.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.detail_box{
	position: absolute;
    z-index: 9;
    margin-top: auto;
    color:#fff;
}
.detail_overview{
	font-size: 12px;
	height: 280px;
	padding-right: 20px;
}
.detail_opBar{
	font-size: 10px;
	color:#222;
}
.white{
	background-color: #fff;
}
.star{
	width: 16px;
}
.populatiry{
	font-size: 12px;
}
.label{
	margin-right: 2px;
}