<section>
	<div class="row">
			<div class="col-md-8">
				<iframe style="margin: auto; width: 100%; height: 400px;" [src]="getUrl(key) | safe"  frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-4">
				<div class="detail_box">
					<h2> < {{detail.original_title}}</h2>
					<span *ngFor="let genres of detail.genres" class="label label-info">{{genres.name}}</span>
					<div class="detail_overview">   {{detail.overview}}</div>
					<div class="detail_opBar">   Homepage: <a href="{{detail.homepage}}" target="_blank">{{detail.homepage}}</a></div>
				</div>
			</div>
	</div>
</section>
