<section>
	<div class="row">
			<div class="col-md-8">
				<div class="col-md-4">
									
				</div>
				<div class="col-md-8 img_cont">
					<ul>
						<li *ngFor="let img of image">
							<img class="person_img" src="{{getUrl(img.file_path)}}">
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="detail_box">
					<h2> < {{detail.name}}</h2>
					<div class="detail_overview">
						Birthday: {{detail.birthday}} <br/>
						From: {{detail.place_of_birth}} <br/>
						Homepage: <a href="{{detail.homepage}}" target="_blank">{{detail.homepage}}</a>
					</div>
					<h2 style="color:#fff;"> < Interpretations</h2>
					<div class="credits_box">						
						<span *ngFor="let movie of credits">
							<ul class="list-group">
							  <li class="list-group-item"> 
							  	{{movie.release_date}} > <a routerLink="/popular/{{movie.id}}">{{movie.original_title}}</a> as {{movie.character}}
							  </li>
							</ul>
						</span>
					</div>	
					<div class="detail_opBar">
						ScrollDown to see more movies
					</div>
				</div>
			</div>
	</div>
</section>